<div class="searchForm pull-left"><input type="text" id="searchTags" placeholder="Search Scribbled">
<button type="submit" class="btn btn-info"><i class="icon-search icon-white icon-large"></i></button>
</div>

<div class="btn-group pull-right">
	<a alt="" class="btn btn-info {{#if notesHidden}}btn-selected{{/if}}" id="toggleNotes"><i class="icon-tags"></i></a>
	<a alt="" class="btn btn-info" href="#"><i class="icon-edit"></i></a>
	<a alt="" class="btn btn-info" href="#"><i class="icon-key"></i></a>
	<a alt="" class="btn btn-info" href="#"><i class="icon-download-alt"></i></a>
	<a alt="" class="btn btn-info" href="#"><i class="icon-fullscreen"></i></a>
	<a alt="" class="btn btn-info" href="#"><i class="icon-link"></i></a>
	<a alt="" class="btn btn-info" href="#"><i class="icon-facebook"></i></a>
	<a alt="" class="btn btn-info" href="#"><i class="icon-envelope-alt"></i></a>
	<a alt="" class="btn btn-info" href="#"><i class="icon-tasks"></i></a>
	<a alt="" class="btn btn-info" href="#"><i class="icon-cloud"></i></a>
</div>


