<div class="searchForm pull-left"><input type="text" id="searchTags" placeholder="Search Scribbled">
<button type="submit" class="btn btn-info" title="Search"><i class="icon-search icon-white icon-large"></i></button>
</div>

<div class="btn-group pull-right">
	<a title="Hide and Show Notes" class="btn btn-info btn-large {{#if notesVisible}}btn-selected{{/if}}" id="toggleNotes"><i class="icon-tags"></i></a>
	<a title="Zoom Out" id="zoomOut" class="btn btn-info btn-large {{#if notZoomed}}btn-selected{{/if}}" id="toggleNotes"><i class="icon-zoom-out"></i></a>
  <a title="Edit Slide" class="btn btn-info btn-large noMobile {{#if editing}}btn-selected{{/if}}" id="edit"><i class="icon-edit"></i></a>
	<a title="Unlock/Lock Crowd Editting" class="btn btn-info btn-large" href="#"><i class="icon-lock"></i></a>
	<a title="Group Collaboration" class="btn btn-info btn-large" href="#"><i class="icon-group"></i></a>
  <a title="Fullscreen" class="btn btn-info btn-large {{#if fullscreen}}btn-selected{{/if}}" id="fullscreen"><i class="icon-fullscreen"></i></a>
	<a title="Share URL" class="btn btn-info btn-large hide noMobile" href="#"><i class="icon-link"></i></a>
	<a title="Email a Collegue" class="btn btn-info btn-large noMobile" href="#"><i class="icon-envelope-alt"></i></a>
	<a title="View Stats" class="btn btn-info btn-large noMobile" href="#"><i class="icon-tasks"></i></a>
	<a title="Search Learning Registry" class="btn btn-info btn-large noMobile" id="learn"><i class="icon-cloud"></i></a>
	<a title="Social Share" id="social" class="btn btn-info btn-large"><i class="icon-facebook"></i></a>
</div>

<!--- FACEBOOK SDK --->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=161070997281204";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
