<!-- Handlebars templates are nice and simple templates that are meant to keep
you from mixing logic into your views (all logic belongs in the javascript
files). -->
<div>
<img src='{{imageUrl}}' style='display:none'/>
</div>
