<!-- Handlebars templates are nice and simple templates that are meant to keep
you from mixing logic into your views (all logic belongs in the javascript
files). -->
<h2><a href="{{sourceUrl}}">{{sourceUrl}}</a></h2>
<p>{{contents}}</p>
