<!-- Handlebars templates are nice and simple templates that are meant to keep
you from mixing logic into your views (all logic belongs in the javascript
files). -->
	<div class="startFormOption">
		<h1>Add image url</h1>
		<input type="text" placeholder="http://...">
		<button type="submit" class="btn btn-info">Start Scribbling<i class="icon-search icon-white"></i></button>
		<h1>or search for an image</h1>
		<input type="text" placeholder="ex. sharks, clouds, etc">
		<button type="submit" class="btn btn-info">Search</button>
		<h1>...we'll do the rest</h1>

	</div>
