@font-face {  
	  font-family: chalkType ;  
	  src: url('../images/fonts/DKCrayonCrumble.ttf') format("truetype");  
	}
h1, h2, h3, h4{ font-family: chalkType , helvetica, sans-serif; }  

body{
	background:#000;
	background-image:url('../images/chalkboard-bg.jpg');
	background-attachment:fixed;
	color:#f5f5f5;
	cursor:default;
}
header{
	position:fixed;
	width:100%;
	z-index:100;
	height:90px;
}
footer{
    bottom: 15px;
    position: fixed;
    width: 100%;
}
footer .btn-group{
	right:20px;
}
footer .searchForm{
	left:20px;
	position:relative;
}
.btn-selected{
	color:#095369;
	opacity:.9;
}
.containerPos{
	position:relative;
	top:80px;
	padding:20px;
	text-align:center;
}
h1.logo{
	background-image:url('../images/chalked-icon.png');
	background-repeat:no-repeat;
	font-size:68px;
	padding:20px;
}
h1.logo a, h1.logo a:hover {
	color:#f5f5f5;
	text-decoration:none;
}
.logo img{
	margin-left:8px;
}
.headerRight{
	position:relative;
	top:-95px;
	left:-20px;
}
.footerSearch{
	text-align:center;
	margin:0px;
}
.getStartedBtn{
	margin-bottom:10px;
	text-align:right;
}
.getStartedBtn a{
	color:#f5f5f5;
}
.getStartedBtn h1{
	font-size:34px;
}
.getStartedBtn a:hover{
	text-decoration:none;
}

.note, .startFormOption{
	background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.4) 100%); /* W3C */
	padding:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width:300px;
	left: -150px;
    top: 42px;
}
.startFormOption{
	background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(245,245,245,0.1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(245,245,245,0.1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(245,245,245,0.1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(245,245,245,0.1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(245,245,245,0.1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(245,245,245,0.1) 100%); /* W3C */
	-webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, .3);
	box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, .3);
	width:30%;
	margin:0px auto;
	margin-bottom:10px;
	padding:10px;
}
.startFormOption button, .footerSearch button{
	vertical-align: top;
}
.footerSearch button i, .startFormOption button i{
	padding-top:3px;
}
.startFormOption button i{
	left:-3px;
	position:relative;
}
.noteContainer i{
	font-size:24px;
	color:#f5f5f5;
}
.slideContainer{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border:15px solid #f5f5f5;
	overflow:hidden;
	margin:0px auto;
	-webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, .7);
	box-shadow: 0px 0px 22px 11px rgba(0, 0, 0, .9);
        position:relative;
}
.slideContainer img{
	max-width: none;
	cursor: -webkit-zoom-in; 
	cursor: -moz-zoom-in;
}


.slides li{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border:5px solid #f5f5f5;
	overflow:hidden;
	display:inline-block;
	margin:4px;
}
/***css arrow top***/
.arrow_box { 
	position: relative;
} 
.arrow_box:after { 
	bottom: 100%; 
	border: solid transparent;
	opacity:.5;	
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; pointer-events: none;
} 
.arrow_box:after { 
	border-color: rgba(245, 245, 245, 0); 
	border-bottom-color: #000000; 
	border-width: 30px; left: 50%;
	margin-left: -30px; 
}
/** animations 
@keyframes getStartedBtn{
	from {left: -100px;}
	to {left: -50px;}
}
@-moz-keyframes getStartedBtn{
	from {left: -100px;}
	to {left: -50px;}
}
@-webkit-keyframes getStartedBtn{
	from {left: -100px;}
	to {left: -50px;}
}
@-o-keyframes getStartedBtn{
	from {left: -100px;}
	to {left: -50px;}
} 
.getStartedBtn{
	position:relative;
	animation: getStartedBtn 1s;
	-moz-animation: getStartedBtn 1s; 
	-moz-animation-timing-function: ease-in;
	-webkit-animation: getStartedBtn 1s; 
	-o-animation: getStartedBtn 1s; 
}**/

/*jQuery UI customized colors*/
.ui-widget-header{
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-radius:0px;
}
.ui-dialog .ui-dialog-title{	
	font-family: chalkType , helvetica, sans-serif; 
	font-size:30px;
	color:#f5f5f5;
}

.ui-widget-header .ui-icon{
	 background-image: url("http://jqueryui.com/themeroller/images/?new=f5f5f5&w=256&h=240&f=png&fltr[]=rcd|256&fltr[]=mask|icons/icons.png");
}
.ui-state-hover .ui-icon:hover{
	 background-image: url("images/ui-icons_222222_256x240.png")
}
.ui-dialog{
	background: -moz-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.75)), color-stop(100%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%); /* W3C */
    border: 0px;
	-webkit-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, .5);
	padding:0px;
}
.ui-widget-content{
    color: #fff;
}
.ui-widget select, .ui-widget textarea, .ui-widget button{
	font-size:14px;
}
.ui-widget input{
	font-size:11px;
}
button#saveNoteButton{margin-top:5px;}
button#saveNoteButton i{
	padding:3px 3px 0px 0px;
}
.dialogIcon{
	margin-right:12px;
}
.dialogIcon label{margin-top:5px;}

[class^="icon-"], [class*=" icon-"] {
  float: left;
}

.note .icon-edit {
	float: right;
	cursor: pointer;
}

.ui-widget-content a {
    color: #0088CC;
}

@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
  header{
	transform:scale(.7,.7);
	-moz-transform:scale(.7,.7); /* Firefox */
	-webkit-transform:scale(.7,.7); /* Safari and Chrome */
	float:left;
	text-align:center;
  }
  .noMobile{display:none;}
  #appFooter{
	text-align:center;
	}
  #appFooter div{
	float:none;
	margin:5px auto;
	}
#appFooter .searchForm{
	left:0;
	}
	.containerPos{padding:0px;}
	body{padding:10px;}
}
